@charset "utf-8";

* {
    margin: 0; /* 초기화 */
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: "맑은고딕", "돋움";
}

.header {
    background: rgb(52, 100, 150);
}

.header h3 {
    display: inline-block; /* 메뉴 가로로 배치 */
    color: white;
    padding: 20px 10px;
    margin-right: 50px;
}

.header ul {
    display: inline-block;
    padding: 20px 10px;
    float: right;
}

.header ul li {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: white;
}

.kind{
    list-style-image: url(../images/address-book-icon.png);
    list-style-position: inside;
    font-weight: bold;
    font-size: larger;
}

#contents {
    border: 3px solid #000;
    font-size: 14px;
    line-height: 1.3em;
}

#contents dl {
    padding: 10px;
}

#contents dl dt {
    color: blueviolet;
    font-weight: bold;
}

#contents dl dd {
    padding-left: 30px;
    padding-bottom: 5px;
    font-weight: 500;
}

.common{
    margin: 20px 10px;
    padding: 10px;
}

.section {
    border: 2px solid #ccc;
    border-radius: 10px;
}

.section2 {
    border: 2px solid rgb(232, 230, 238);
    border-radius: 10px;
}

.section3 {
    border: 2px solid rgb(170, 181, 169);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 30px;
}

.section4 {
    margin: 10px 20px;
}

.section4 li{
   list-style: inside;
   padding-left: 20px;
}

.footer{
    background-color:rgb(52, 52, 52);
    color:#ccc;
    padding: 20px 10px;
    text-align: center;
    font-size: 12px;
}
